<%-include('header') -%>


<div class = "container">
    <a href = "/" class = "col s6 waves-effect waves-light btn-small"> HOME </a>
    <h4> Delete a Record </h4>
        <form id = "deleteID" method = "post">
            <input type="text" name = "movie_id" id = "movie_id" class = "input-field inline"> <br>

            <input type ="submit" name = "submit" value = "delete" class = "waves-effect waves-light btn-large">
        </form>
        <script src = "/js/delete.js"></script>
</div>
<%-include('footer') -%> 