<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <head> 
            <title> Transaction Manager  </title>
        </head>
    <body>
        <div class = "title center">

            <h3>Transaction Manager</h3> 
         
         </div>