<%-include('header') -%>


<div class = "container ">
    <h4> Choose CRUD Operation: </h4>
    <div class = "row">
     <a href = "insert" class = "col s6 waves-effect waves-light btn-large"> INSERT </a>
     <a href = "update" class = "col s6 waves-effect waves-light btn-large"> UPDATE </a>
    </div>
    <div class = "row">
     <a href = "search" class = "col s6 waves-effect waves-light btn-large"> SEARCH </a>
     <a href = "view" class = "col s6 waves-effect waves-light btn-large"> VIEW </a>
    </div>
    <div class = "center">
    <button class = "btn waves-effect waves-light btn"> Connect to DB </button>
    </div>
</div>

<%-include('footer') -%>



