<%-include ('layout/header') -%>



<div class ="container">
    <h3> Choose Action: </h3>
        <!-- <div class = "tab">
            <div>
                <button id = "insert" class = "tablinks" onClick="openAction(event, 'Insert')"> Insert </button>
            </div>
            <div>
                <button id = "update" class = "tablinks" onClick="openAction(event, 'Update')"> Update </button>
            </div>
            <div>
                <button id = "search" class = "tablinks" onClick="openAction(event, 'Search')"> Search </button>
            </div>
            <div>
                <button id = "view" class = "tablinks" onClick="openAction(event, 'View')"> View </button>
            </div>
        </div> -->
        
        <!-- {{!-- INSERT DATA ONCE SUBMITTED --}} -->

        <div id = "Search" class = "tabcontent">
            <form id = "edit_movies">
             
                <label for = "movie_title"> Movie Title </label>
                <input type="text" name="movie_title" id="movie_title">
               
                <br>
                <button id = 'submit'> Search </button>
            </form>
        </div>


        <div id = "Update" class = "tabcontent">
            <form id = "edit_movies">
                <label for = "id"> ID </label>
                <input type="text" name="id" id="id">
                <br>
                <label for = "movie_title"> Movie Title </label>
                <input type="text" name="movie_title" id="movie_title">
                <br>
                <label for = "movie_year"> Year </label>
                <input type="year" name="movie_year" id="movie_year">
                <br>
                <label for = "genre"> Genre </label>
                <input type="text" name="genre" id="genre">
                <br>
                <label for = "director"> Director </label>
                <input type="text" name="director" id="director">
                <br>
                <label for = "actor1"> Actor 1 </label>
                <input type="text" name="actor1" id="actor1">
                <br>
                <label for = "actor2"> Actor 2 </label>
                <input type="text" name="actor2" id="actor2">
                <br>
                <button id = 'submit'> Update </button>
            </form>
        </div>

    
        <div id = "Insert" class = "tabcontent">
            <form id = "edit_movies">
                <label for = "id"> ID </label>
                <input type="text" name="id" id="id">
                <br>
                <label for = "movie_title"> Movie Title </label>
                <input type="text" name="movie_title" id="movie_title">
                <br>
                <label for = "movie_year"> Year </label>
                <input type="year" name="movie_year" id="movie_year">
                <br>
                <label for = "genre"> Genre </label>
                <input type="text" name="genre" id="genre">
                <br>
                <label for = "director"> Director </label>
                <input type="text" name="director" id="director">
                <br>
                <label for = "actor1"> Actor 1 </label>
                <input type="text" name="actor1" id="actor1">
                <br>
                <label for = "actor2"> Actor 2 </label>
                <input type="text" name="actor2" id="actor2">
                <br>
                <button id = 'submit'> Insert </button>
            </form>
        </div>

    
        <div id = "View" class = "tabcontent">
            <form id = "edit_movies">
                <label for = "id"> ID </label>
                <input type="text" name="id" id="id">
                <br>
                <label for = "movie_title"> Movie Title </label>
                <input type="text" name="movie_title" id="movie_title">
                <br>
                <label for = "movie_year"> Year </label>
                <input type="year" name="movie_year" id="movie_year">
                <br>
                <label for = "genre"> Genre </label>
                <input type="text" name="genre" id="genre">
                <br>
                <label for = "director"> Director </label>
                <input type="text" name="director" id="director">
                <br>
                <label for = "actor1"> Actor 1 </label>
                <input type="text" name="actor1" id="actor1">
                <br>
                <label for = "actor2"> Actor 2 </label>
                <input type="text" name="actor2" id="actor2">
                <br>
                <button id = 'submit'> View </button>
            </form>
        </div>

</div>

<%-include ('layout/footer') -%>