@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

/*TAG*/
body {
    background-color: #121212;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    margin-bottom: 8px;
    min-height: 100px;
    min-width: 300px;
}

/*CLASS*/
.text-transaction {
    margin: 0px;
    font-weight: 700;
    font-size: x-large;
}

.interactive-buttons {
    height: 35px;
    width: 100px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.4s;
}

.text-node {
    margin: auto;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

.form-generate {
    margin-bottom: 8px;
    width: 110px;
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: medium;
}

.node-query, .generate-box {
    display: flex;
    flex-direction: row;
}

.select-crud {
    margin-right: 8px;
    height: 30px;
    font-family: 'Assistant', sans-serif;
    font-size: medium;
}

.query-crud, .generate-query {
    height: 30px;
    font-family: 'Assistant', sans-serif;
    font-size: medium;
}



/*ID*/
#website-title { /*<p>*/
    display: inline;
    text-align: center;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5C518;
    border-radius: 5px;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    font-size: 80px;
    color: black;
}

#error-title {
    width: fit-content;
    text-align: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5C518;
    border-radius: 5px;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    font-size: x-large;
    color: black;
}

#generate-button:hover, #execute-button:hover {
    background-color: #121212;
    color: white;
}

#generate-button, #execute-button {
    background-color: #F5C518;
    color: black;
    border-color: #121212;
}

#radio-transaction {
    font-weight: 500;
    font-size: larger;
}

#movie-id, #node1-id, #node2-id, #node3-id {
    width: 50px;
}

#movie-name, #node1-name, #node2-name, #node3-name {
    width: 400px;
}

#movie-year, #movie-rank, #node1-year, #node1-rank, #node2-year, #node2-rank, #node3-year, #node3-rank {
    width: 100px;
}

#text-results { /*<p>*/
    margin: 0px;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    background-color: #F5C518;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

#form-isolation {
    margin-bottom: 8px;
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: medium;
}

/*DIV*/
#query-box {
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: white;
}

#div-pick {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    background-color: #F5C518;
    font-family: 'Assistant', sans-serif;
}

#div-form {
    margin-top: 8px;
    width: auto;
    text-align: center;
}

#query-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-buttons {
    margin-bottom: 10px;
    text-align: center;
}

#results-box {
    visibility: hidden;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-color: white;
}

